@font-face {
    font-family: 'TTHakgyoansimYeohaengR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', serif;
}

ul, ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 15px
}

button {
    cursor: pointer;
    box-shadow: 1px 1px 1px #c8c8c8;
}

input[type=reset] {
    cursor: pointer;
    box-shadow: 1px 1px 1px #c8c8c8;
}

textarea {
    border: none;
    outline: none;
    padding: 1rem;
    resize: none;
}

select:not(.swal2-select) {
    height: 2rem;
    padding: 0 1rem;
}

input {
    height: 1.8rem;
    padding: 0 0.5rem;
}

/* table */
table > thead > tr {
    background-color: #f2f2f2;
}

table > tbody > tr:hover {
    background-color: #f2f2f2;
}

table td, table th {
    height: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th {
    white-space: nowrap;
}

table, td, th {
    /*border: 1px solid #f2f2f2;*/
    border: 1px solid #dadada;
    border-collapse: collapse;
}

button.carousel__prev, button.carousel__next {
    background-color: #ffffff;
    border-radius: var(--vc-nav-height);
}

button.carousel__pagination-button {
    box-shadow: none;
}


/*nav {*/
/*    width: 80%;*/
/*    overflow: hidden;*/
/*    height: 80px;*/
/*    background-color: #1b2035;*/
/*    margin: 50px auto*/
/*}*/
